<head>
    <h1>Ticketing system landing page</h1>
    <hr/>
</head>

<body>
<p>
    Welcome to the landing page of the ticketing system for our products.<br>
    For any issues raising tickets via this portal, contact support directly.
</p>
<br>
    </p>Please select whether you want to login/register (or navigate to the admin pages):</p>
    <button><a href="/register">Register a new user</a></button>
    <button><a href="/login">Login as existing user</a></button>
    <button><a href="/admin">Admin portal</a></button>
</body>
